*{
    box-sizing: border-box;
}
.loginContainer1{
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/
    text-align: center;
}
.loginContainer2{
    width: 400px;
    height: 400px;
    border:  1px solid black;
    box-shadow: 1px 1px 7px black;
}
.loginContainer2 input{
    width: 90%;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 2px black;
}

@media only screen and (max-width: 500px){
    .loginContainer2{
        width: 300px;
    }
}