*{
    box-sizing: border-box;
}
.registerContainer1{
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/
    text-align: center;
}
.registerContainer2{
    width: 400px;
    height: 500px;
    border:  1px solid black;
    box-shadow: 1px 1px 7px black;
}
.registerContainer2 input{
    width: 90%;
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 2px black;
}
@media only screen and (max-width: 500px){
    .registerContainer2{
        width: 300px;
        height: 475px;
    }
    .registerContainer2 input{
        padding: 5px;
        margin: 5px;
    }
}